@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/Cocogoose.eot') format('eot');
  src: url('../fonts/Cocogoose.woff') format('woff'),
    url('../fonts/Cocogoose.woff2') format('woff2'),
    url('../fonts/Cocogoose.otf') format('otf'),
    url('../fonts/Cocogoose.ttf') format('ttf');
}

:root {
  --gunmetal: #19323c;
  --turquoise-green: #bbdfc5;
  --acid-green: #92ba00;
  --tyrian-purple: #6a0136;
  --maximum-blue: #53a2be;
  --maximum-blue-darken: #428299;
}

.btn-blue {
  border-radius: 2em;
  color: var(--maximum-blue);
  border: 2px solid var(--acid-green);
  transition: all 0.2s;
  box-shadow: 0px 0px 3px var(--acid-green);
}

.btn-blue:hover {
  color: var(--gunmetal);
  background: linear-gradient(0.12turn, #92ba00, #53a2be);
  border: 2px solid linear-gradient(0.12turn, #53a2be, #92ba00);
  box-shadow: 0px 0px 5px var(--maximum-blue);
}

.btn-green {
  border-radius: 2em;
  color: var(--acid-green);
  border: 2px solid var(--maximum-blue);
  box-shadow: 0px 0px 3px var(--maximum-blue);
  transition: all 0.2s;
}

.btn-green:hover {
  color: var(--gunmetal);
  background: linear-gradient(0.12turn, #53a2be, #92ba00);
  border: 2px solid linear-gradient(0.12turn, #92ba00, #53a2be);
  box-shadow: 0px 0px 5px var(--acid-green);
}

.btn-purple {
  border-radius: 2em;
  color: var(--acid-green);
  border: 2px solid var(--acid-green);
  box-shadow: 0px 0px 3px var(--acid-green);
  transition: all 0.2s;
}

.btn-purple:hover {
  color: var(--gunmetal);
  background-color: var(--acid-green);
  border: 2px solid var(--tyrian-purple);
  box-shadow: 0px 0px 5px var(--tyrian-purple);
  transition: all 0.2s;
}

.btn-logo {
  border-radius: 2em;
  border: 2px solid var(--maximum-blue);
  box-shadow: 0px 0px 3px var(--acid-green);
  transition: all 0.2s;
}

.btn-logo:hover {
  border: 2px solid var(--acid-green);
  background-color: var(--maximum-blue);
  box-shadow: 0px 0px 5px var(--maximum-blue);
}

.btn {
  background-color: var(--gunmetal);
  font-family: 'Cocogoose';
}

.btn:hover {
  cursor: pointer;
}
