@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/Cocogoose.eot') format('eot');
  src: url('../fonts/Cocogoose.woff') format('woff'),
    url('../fonts/Cocogoose.woff2') format('woff2'),
    url('../fonts/Cocogoose.otf') format('otf'),
    url('../fonts/Cocogoose.ttf') format('ttf');
}

:root {
  --gunmetal: #19323c;
  --turquoise-green: #bbdfc5;
  --acid-green: #92ba00;
  --acid-green-darken: #506600;
  --tyrian-purple: #6a0136;
  --maximum-blue: #53a2be;
  --maximum-blue-darken: #428299;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--gunmetal);
}

::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px black; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--maximum-blue); 
  border-radius: 10px;
  box-shadow: inset 1px 1px 5px black; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--maximum-blue-darken); 
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cocogoose';
  color: var(--turquoise-green);
  background-color: var(--turquoise-green);
}

a {
  text-decoration: none;
  color: var(--gunmetal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gunmetal);
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--gunmetal);
}

.logo-and-name {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px;
}

.link-logo {
  width: 35%;
  background-color: var(--acid-green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.logo {
  height: 40px;
}

.search-input-top-bar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.input-search-book {
  width: 70%;
}

.button-search-book {
  width: 20%;
}

.account-and-subscribe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  padding: 20px 0px;

}

.link-topbar {
  color:var(--acid-green);
  background-color: var(--tyrian-purple);
  text-align: center;
  width: 30%;
  padding: 10px;
  margin-right: 10px;
}

.icons-top-bar {
  margin-right: 10px;
}

.banniere-container {
  display: flex;
}

.banniere {
  width: 100%;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--gunmetal);
}

.bg-blue {
  background-color: var(--maximum-blue);
}

.blue {
  color: var(--maximum-blue);
}

.green {
  color: var(--acid-green);
}

.link-navbar {
  padding: 20px;
  width: 5%;
  text-align: center;
  margin: 10px;
}

main {
  padding: 5vh 9vw;
}

.container {
  border: 1px solid black;
  background-color: white;
}

.container-first-title {
  margin-top: 30px;
}

section {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.owl-nav,
.owl-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.owl-prev,
.owl-next {
  font-size: 30px !important;
  margin: 5px !important;
  color: var(--tyrian-purple) !important;
}

.owl-dot {
  height: 12px !important;
  width: 12px !important;
  background-color: var(--maximum-blue) !important;
  border-radius: 50px !important;
  margin: 5px !important;
}

.owl-dot.active {
  height: 15px !important;
  width: 15px !important;
  background-color: var(--acid-green) !important;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--gunmetal);
}

footer h3 {
  color: var(--acid-green);
}

.section-footer {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.links-footer-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.link-footer {
  padding: 10px;
  width: 15%;
  text-align: center;
  margin: 10px;
}

.map-and-address {
  display: flex;
  flex-direction: row;
  color: var(--gunmetal);
}

iframe {
  margin-top: 20px;
}

.address {
  display: flex;
  flex-direction: column;
}

.socials-links {
  font-size: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btn-social {
  border: 1px solid black;
  border-radius: 50%;
  width: 15%;
  text-align: center;
}